@charset "utf-8";
/* CSS Document */
body {
	background: linear-gradient(205.37deg, #11998E -4.17%, #38EF7D 100.07%);
	line-height:0;
}
.message {
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 100px;
	color: #FFFFFF;
	padding:65px;
}
.button {
	border-radius: 20px;
	background-color:#F4F8F5;
	border:none;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;	
	color:#11998E;
	text-align:center;
	font-size:20px;
	padding:20px;
	width: 200px;
	transition:all 0.5s;
	cursor:pointer;
	margin:5px;
}
.button1{
	background:none;
	border: 2px solid white;
	color: white;
}
.button span {
	cursor:pointer;
	display:inline-block;
	position:relative;
	transition:0.5s;
}
.button span:after{
	content:'\00bb';
	position:absolute;
	opacity:0;
	top:0;
	right:-20px;
	transition:0.5s;
}
.button: hover span {
	padding-right:25px;
}
.button: hover span:after {
	opacity:1;
	right:0;
}

	